.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1000;
  padding: 1rem 0;
  border-bottom: 1px solid #f1f1f1;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
  color: #121212;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navLinks li a {
  cursor: pointer;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
  color: #333;
}

.navLinks li a:hover {
  color: #121212;
}

.navLinks li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #121212;
  transition: width 0.3s ease;
}

.navLinks li a:hover::after {
  width: 100%;
}